@import './sidebar.css';
body {
    margin: 0;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 700;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a:focus, a:active {
    outline: none;
}

a, a:focus, a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.app-container {
    padding: 20px;
}

.full-height {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

aside {
    background: #eef1f6;
    padding: 8px 24px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: block;
    line-height: 32px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #2c3e50;
}

.filter-container {
    padding-bottom: 10px;
}

.filter-container .filter-item,.filter-container .filter-button {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 195px;
    margin-left: 10px;
}
.filter-container .filter-button {
    width: 95px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}